/*@import url('fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');*/

a {
  color: #4B61D1; /*#0099cc;*/ /*#0099cc; */ /*#14A098;*/ /*#0099cc;*/
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f18800; /* #f18800; */
  text-decoration: none;
}

body,
td,
th,
tr,
p,
a {
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Poppins', sans-serif; */
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: 'Lora', serif;*/
  font-size: 15px;
  line-height: 1.5;
}

strong {
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Poppins', sans-serif;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: 'Lora', serif;*/
  font-size: 15px;
}

heading {
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Poppins', sans-serif; */
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: 'Lora', serif;*/
  font-size: 24px;
}

papertitle {
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Poppins', sans-serif; */
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: 'Lora', serif;*/
  font-size: 15px;
  font-weight: 700
}

name {
  /*font-family: 'Libre Baskerville', serif;*/
  /*font-family: 'Poppins', sans-serif; */
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  /*font-family: 'Lora', serif;*/
  font-size: 34px;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

span.highlight {
  background-color: #ffffd0;
